*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #f8f9fa;
}
p{
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-family: 'Dancing Script', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Playfair Display SC', serif;
}
h2{
    font-family: 'Dancing Script', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Playfair Display SC', serif;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
nav a{
    margin: 0 30px 0 0;
    text-decoration: none;
    color: rgb(102, 95, 95);
    font-size: large;
    font-family: 'Open Sans', sans-serif;
}
nav button{
    width: 100px;
    height: 40px;
    background-color: #5390d9;
    border: none;
    border-radius: 2px;
}
.logo{
    
}
.nav{
    margin-left: 200px;
}
.hire{
    margin-left: 300px;    
}
.hire button{
    color: white;
    font-size: medium;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.first h1{
    font-size: 50px;
    margin-top: 50px;
}
.first hr{
    border: solid 1.5px #5390d9;
    width: 40%;
    margin-left: 30%;
    margin-top: 20px;
}
.second{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 1510px;
    height: 2300px;
}
.second-1 hr{
    border: solid 1.5px #5390d9;
    width: 20%;
    margin-left: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.second-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
}
.second img{
    padding: 10px;
}
.broda:hover{
    width: 500px;
}
.broda2:hover{
    width: 800px;
}
.last{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-color: white;
    width: 1500px;
}
.last input{
    width: 600px;
    height: 30px;
    margin-top: 20px;
    /* margin-bottom: 20px; */
}
::placeholder{
    text-size-adjust: 30px;
    padding: 10px;
}
.last h1{
    margin-bottom: 10px;
}
.last button{
    background-color: #5390d9;
    color: white;
    width: 150px;
    height: 40px;
    margin-top: 10px;
}
footer{
    background-color: #353535;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.contact{
    margin-right: 100px;
}
.img-fot{
    margin-left: 100px;
}
.mail{
    margin-left: 200px;
    color: white;
    font-size: large;
}
